body {
	background-image: url("../images/background-jewels.jpg");
	background-size:100%;
	font-family: "Verdana, Arial, sans-serif";
	/*height: 140px;
	display:block;
	padding:0;
	margin:0; */
}

h1 {
	padding: 20px;
	background-color: #cce5ff;
	font-family: "Verdana, Arial, sans-serif";
	font-weight: bolder;
	font-size: 46px;
}

p {
	font-family: "Verdana, Arial, sans-serif";
	padding: 20px;
	font-size: 18px;
	background-color: #cce5ff;
}
#totalScore {
	font-size: 30px;
	font-weight: bolder;
}


}
/*.row2 {
	padding-top: 20px;
	background-color: #009999;
	padding-bottom: 20px;
}*/
